/* Expand to fill screen */
body {
    background: #141414;
    color: #aaa;
}
.workspace {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
}
.header {
    position: absolute;
    background: #2c2c2c;
    width: 100%;
    height: 50px;
}
.padding {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.left-pane {
    position: absolute;
    top: 50px;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 50%;
    border-right: 1px solid #fff;
}
.resizer {
    position: absolute;
    background: #141414;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50px;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    background-repeat: repeat-y;
    background-image: url(data:image/gif;base64,R0lGODdhAQABAPAAADlDSwAAACwAAAAAAQABAAACAkQBADs%3D);
    background-position: center center;
}
.right-pane {
    position: absolute;
    right: 0;
    top: 50px;
    bottom: 0;
    width: calc(50% - 10px);
}
.footer {
    background: #000;
    color: #464;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 41px;
    padding-top: 9px;
}
.top-right-area {
    position: relative;
    height: 50%;
}
.bottom-right-area {
    position: relative;
    height: 50%;
}
.output {
    background-color: #1c1c1c;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 0;
    height: calc(100% - 10px);
    width: calc(100% - 5px);
}
.editor {
    margin: 0;
    padding: 0;
    height: 100%;
}
.terminal-container {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #141414;
    font-size: 85%;
}
.button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    color: #fff;
    border: 1px solid #888;
}
.button:hover {
    background: #ccc;
    color: #141414;
    border: 1px solid rgba(0, 0, 0, 0);
}
.button-primary {
    background: #3498db;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
}
.button-primary:hover {
    background: #3cb0fd;
    text-decoration: none;
}
